<html ng-app="app">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="../../build/common/ngEdit.css" rel="stylesheet">
	<script type="text/javascript" src="../../build/common/ngEdit.js"></script>

<script type="text/javascript">
	var app = angular.module('app', [ 'baseDirective' ]);
	app.controller("ctrl", [ '$scope', 'baseService', function($scope, baseService) {

	} ]);
</script>
</head>
<body ng-controller="ctrl" class="panel panel-default" ab-load="/sys/sysResource/getJson?id={id}" ng-model="data">
	<div class="panel-heading">
		<h3 class="panel-title">详细信息</h3>
	</div>
	<table class="form-table">
		<tr>
			<th>资源别名:</th>
			<td>{{data.alias }}</td>
		</tr>
		<tr>
			<th>资源名:</th>
			<td>{{data.name }}</td>
		</tr>
		<tr>
			<th>默认地址:</th>
			<td>{{data.defaultUrl }}</td>
		</tr>
		<tr>
			<th>显示到菜单:</th>
			<td>{{data.enableMenu == null? "" : data.enableMenu == 1? "是" : "否"}}</td>
		</tr>
		<tr>
			<th>是否有子节点:</th>
			<td>{{data.hasChildren == null? "" : data.hasChildren == 1 ? "有" : "无" }}</td>
		</tr>
		<tr>
			<th>OPENED_:</th>
			<td>{{data.opened == null? "" : data.opened == 1? "有" : "无" }}</td>
		</tr>
		<tr>
			<th>图标:</th>
			<td>{{data.icon }}</td>
		</tr>
		<tr>
			<th>打开新窗口:</th>
			<td>{{data.newWindow == null? "" : data.newWindow == 1? "打开" : "不打开"}}</td>
		</tr>
		<tr>
			<th>排序:</th>
			<td>{{data.sn }}</td>
		</tr>
	</table>

	<table ng-if="!data.hasChildren" class="table table-bordered" cellspacing="1">
		<tr style="font-size: 16">
			<th width="35%">名称</th>
			<th width="45%">URL</th>
		</tr>
		<tr ng-repeat="relResource in data.relResources">
			<th width="35%">{{relResource.name}}</th>
			<th width="45%">{{relResource.resUrl}}</th>
		</tr>
	</table>
</body>
</html>