<div class="panel-group" ng-controller="FlowConfController">

	<div class="panel panel-primary">
		<div class="panel-heading"> <div class="panel-title">全局表单设置</div> </div>
		<div title="全局表单" type="global" bpm-form="bpmDefSetting.flow.globalForm" mobile-form="bpmDefSetting.flow.globalMobileForm"></div>
		<div title="实例表单" type="instance" bpm-form="bpmDefSetting.flow.instForm" mobile-form="bpmDefSetting.flow.instMobileForm"></div>
	</div>
	<div class="panel panel-primary">
	  	<div class="panel-heading"> 流程数据模型绑定
	  		<span class="btn btn-default glyphicon glyphicon-plus pull-right btn-sm" ng-click="addDataModel()"></span>
	  	 </div>
	  	<div class="panel-body" style="min-height: 100px">
		  	<table class="table table-hover table-striped table-bordered">
		  		<tr><th>数据模型</th><th>KEY</th><th>操作</th></tr>
		  		<tr ng-repeat="dataModel in dataModelList">
		  			<th>{{dataModel.name}}</th>
		  			<td>{{dataModel.code}}</td>
		  			<td><span class="btn btn-danger btn-sm glyphicon glyphicon-trash pull-right" 
		  		ab-tip title="请注意！删除会影响流程配置中使用该数据模型的流程脚本、表单等" ng-click="ArrayTool.del($index,dataModelList)"></span></td>
		  		</tr>
			</table>
		 </div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading"> <div class="panel-title">流程属性配置</div></div>
		<div class="panel-body">
			<div class="well">  
					
				<div class="form-inline">
						<label class="control-label col-sm-3">属性设置:</label> 
						<span  ab-boolean text="允许执行人为空/不允许执行人为空" ng-model="properties.allowExecutorEmpty" ab-tip title="任务执行人是否可以为空"></span>
						<span  ab-boolean="1/0" text="支持移动端"   ng-model="properties.supportMobile" ab-tip title="支持移动端，该流程定义任务会出现在移动端"></span>
				</div>
				
				<div class="form-inline">
					<label class="control-label col-sm-3">状态:</label>
						<label class="radio-inline"> <input type="radio" ng-model="properties.status" value="draft" />草稿</label>
						<label class="radio-inline"> <input type="radio" ng-model="properties.status" value="deploy" />发布</label>
						<label class="radio-inline"> <input type="radio" ab-tip title="流程实例将会被禁用" ng-model="properties.status" value="forbidden" /> 禁用 </label>
				</div>
				
				
				<div>
					<label class="control-label col-sm-3" ab-tip title="流程任务，流程实例的标题生成配置，可以使用业务对象主表字段">标题规则</label>
					<select class="form-control" style="width: 200px" ng-options="m as m.name for m in subjectVariables" ng-model="subjectVar" ng-change="setSubject(m)">
						<option value="">选择标题可用变量</option>
					</select>
					<textarea rows="6" cols="39" class="form-control" ng-model="properties.subjectRule"></textarea>
				</div>
				
			</div>
		</div>
	</div>


</div>
