<html ng-app="overallViewApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../build/common/ngEdit.css" rel="stylesheet">
<script type="text/javascript" src="../../build/common/ngEdit.js"></script>
<script type="text/javascript" src="../../build/common/easyLayout.js"></script>
<script type="text/javascript" src="../../assets/js/platform/bpm/overallView/overallViewController.js"></script>
<script type="text/javascript" src="../../assets/js/platform/bpm/overallView/formatJson.js"></script>
<script type="text/javascript">
	var defId= $.getParam("defId");
	var defName =  $.getParam("defName"); 
	var flowKey = $.getParam("defKey"); 
</script>
</head>
	<body ng-controller="overallViewController" class="easy-layout">
		<div data-options="region:'north'">
			<div class="toolbar-panel">
				<div class="buttons">
					<a class="btn btn-sm btn-primary fa-save" ng-click="saveOverallView()"><span>保存</span></a> 
					<a class="btn btn-sm btn-primary fa-back" onclick="javascript:$.Dialog.close(window);"><span>返回</span></a>
				</div>
			</div>
			<div ng-init="showForm=true;showNodeSkip=true;showScript=true;showBtn=true;isShowGateway=true;showGlobalConf=true;showUserConf=true;">
			   <label><input type="checkbox" ng-model="showUserConf">人员配置  </label>
			   <label><input type="checkbox" ng-model="showForm">表单  </label>
			   <label><input type="checkbox" ng-model="showNodeSkip">节点自由跳转  </label>
			   <label><input type="checkbox" ng-model="showScript">前后置脚本  </label>
			   <label><input type="checkbox" ng-model="showBtn">节点按钮  </label>
			   <label><input type="checkbox" ng-model="isShowGateway">分支脚本  </label>
			   <label><input type="checkbox" ng-model="showGlobalConf">全局配置  </label>
			   <br>
			   <label><input type="radio" name="showOne" ng-click="justShowOne('showUserConf')" >展示人员  </label>
			   <label><input type="radio" name="showOne" ng-click="justShowOne('showForm')" >展示表单  </label>
			   <label><input type="radio" name="showOne" ng-click="justShowOne('showNodeSkip')" >展示节点跳转  </label>
			   <label><input type="radio" name="showOne" ng-click="justShowOne('showScript')" >展示前后置脚本  </label>
			   <label><input type="radio" name="showOne" ng-click="justShowOne('showBtn')" >展示节点按钮  </label>
			   <label><input type="radio" name="showOne" ng-click="justShowOne('isShowGateway')">展示分支脚本  </label>
			   
				<label>脚本框高度适应内容:</label>
				<div  ng-click="autoTextAreaHeight('nodeScript')" class="btn btn-sm btn-primary">节点脚本</div>
			   <div  ng-click="autoTextAreaHeight('nodeBtnScript')" class="btn btn-sm btn-primary">按钮脚本</div>
   			   <div  ng-click="autoTextAreaHeight('gatewayScript')" class="btn btn-sm btn-primary">分支脚本</div>
   			   <div  ng-click="autoTextAreaHeight('nodeSkipScript')" class="btn btn-sm btn-primary">节点跳转</div>
   			   <div  ng-click="autoTextAreaHeight('formInitScript')" class="btn btn-sm btn-primary">表单初始化</div>
		</div>
		 </div>
		<div data-options="region:'center'" title="【{{overallView.bpmDefinition.name}}】-【{{overallView.bpmDefinition.key}}】">
			<div ng-include="'./overallViewContent0.html'"></div>
		</div>
	</body>
</html>
<style>
 .table {margin-bottom : 5px;}
 textarea{
 	max-width: 600px
 }
 
</style>