<!DOCTYPE html>
<html>
	<head>
		<title>流程配置一览页</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<fieldset class="scheduler-border" ng-if="showGlobalConf" name="flowConfFieldset">
			<legend style="width: 120px; border-bottom: 0; margin-bottom: 10px;">
				<span>流程全局配置</span>
			</legend>
			<div title="全局表单设置 "  style="width:100%;padding:5px;" >
				<div title="全局表单" type="global" bpm-form="defSetting.flow.globalForm" mobile-form="defSetting.flow.globalMobileForm" ></div>
				<div title="实例表单" type="instance" bpm-form="defSetting.flow.instForm"></div>
			</div>
			<table class="table table-bordered" >
		          <tr ng-repeat="bo in defSetting.flow.dataModelList">
		          		<th>BO配置</th> <td>{{bo.name}}</td> <td>{{bo.code}}</td>
		          </tr>
			</table>
			
			<table class="table table-bordered" title="节点初始化脚本">
				<thead><th>表单初始化节点</th><th>脚本描述</th><th>打开节点任务表单时 初始化脚本</th><th>保存数据前置执行脚本</th></thead>
		        <tbody>
		          <tr ng-if="!defSetting.flow.nodeInitList.length"><td colspan="4">流程尚未配置节点初始化内容</td></tr>
		          <tr ng-repeat="formInit in defSetting.flow.nodeInitList" id="aaformInitScript">
		          		<td>{{formInit.nodeId}}</td>
		          		<td>{{formInit.desc}}</td>
		          		<td>
							 <textarea  ab-trim ng-model="formInit.beforeShow" rows="2" class="form-control"></textarea>
						</td> 
		          		<td>
							 <textarea  ab-trim ng-model="formInit.whenSave" rows="2" class="form-control"></textarea>
		          		</td> 
		          </tr>
		        </tbody>
		   </table>
		   <div ng-repeat="(pluginKey,plugin) in defSetting.flow.nodeInitList">
		   		 <table class="table table-hover table-striped table-bordered" title="节点消息 " ng-if="pluginKey='nodeMessage' && plugin.nodeMessage.length">
			        <tr ng-repeat="nodeMessage in plugin.nodeMessage track by $index" >
			  			<th>{{nodeMessage.nodeId?nodeMessage.nodeId:'所有节点'}}</th>
			  			<td>{{nodeMessage.event}}</td>
			  			<td ab-tip title="任务创建时通知任务候选人处理任务">{{nodeMessage.desc}}</td>
			  			<td>
			  				<span class="btn btn-danger btn-xs glyphicon glyphicon-trash pull-right"ng-click="ArrayTool.del($index,nodeMessageList)"></span>
			  				<span class="btn btn-primary btn-xs glyphicon glyphicon-edit pull-right" ng-click="editNodeMessage($index)"></span>
			  			</td>
		  			</tr>
			   </table>
		   </div>
		</fieldset>
		<fieldset class="scheduler-border" ng-repeat="(nodeId,nodeConf) in defSetting.nodeMap" ng-if="'StartNoneEvent,UserTask,EndNoneEvent,ExclusiveGateway,InclusiveGateway'.indexOf(nodeConf.nodeType)!=-1" name="{{nodeConf.nodeId}}Fieldset">
			<legend style="width: 320px; border-bottom: 0; margin-bottom: 10px;">
				<div style="text-align: center;">{{nodeConf.nodeName}}一 {{nodeConf.nodeId}}</div>
			</legend>
		  	<div>
				<div  title="表单设置 " ab-tip="{position:{my:'bottom center',at:'top center'}}" style="width:100%;padding:5px;" ng-if="showForm && 'StartNoneEvent,UserTask,'.indexOf(nodeConf.nodeType)!=-1">
					   <div title="节点表单" type="node" bpm-form="nodeConf.form" mobile-form="nodeConf.mobileForm" ></div>
				</div>
				<!-- 人员 -->
				<div title="人员配置 " ab-tip="{position:{my:'bottom center',at:'top center'}}" ng-show="showUserConf" ng-if="'UserTask'.indexOf(nodeConf.nodeType)!=-1">
					<table class="table table-bordered">
				        <tbody>
				          <tr ng-if="!nodeConf.plugins.userAssign || !nodeConf.plugins.userAssign.ruleList"><td>尚未配置节点人员</td></tr>
				          <tr ng-repeat="userConf in nodeConf.plugins.userAssign.ruleList"> 
				          		<td style="width: 200px">{{userConf.description}}</td>
				          		<td><textarea style="max-width: 1100px!important" ab-show-json="false" ng-model="userConf.calcs" disabled="disabled" class="form-control"></textarea></td> 
				          </tr>
				        </tbody>
				   </table>
			   </div>
			     
		  		<div  title="节点按钮  ——下面仅展示含脚本的按钮（点击按钮编辑脚本）"  style="width:100%;padding:5px;" ng-if="showBtn && nodeConf.btnList && nodeConf.btnList.length">
			     	<div> 
			     		 <button ng-repeat="btn in nodeConf.btnList" type="button" class="btn btn-sm btn-success" ng-click="changeShowBtn(nodeConf.btnList)">{{btn.name}}</button>
					   	<table class="table table-bordered" >
					   		<thead> <tr><th>按钮名字</th><th>动作</th><th>前置js脚本</th><th style="width: 120px">后置js脚本</th><th>展示前groovy脚本</th></thead>
					          <tr id="{{nodeConf.nodeId}}nodeBtnScript" ng-repeat="btn in nodeConf.btnList"  ng-show="btn.beforeScript || btn.afterScript || btn.groovyScript || btn.isShow"> 
					          		<td>{{btn.name}}</td><td>{{btn.alias}}</td>
					          		<td><textarea rows="1" ab-trim ng-model="btn.beforeScript" class="form-control"></textarea></td> 
					          		<td><textarea rows="1" ab-trim ng-model="btn.afterScript"  class="form-control"></textarea></td>
					          		<td><textarea rows="1" ab-trim ng-model="btn.groovyScript" class="form-control"></textarea></td>
					          </tr>
					   </table>
			  		</div>
		  		</div>
		  	</div>
		  	<!-- 循环展示出所有的插件  -->
		  	<div ng-repeat="(pluginKey,plugin) in nodeConf.plugins">
		  		 <!-- 跳转脚本 -->
			   <table class="form-table" title="跳转脚本 " ng-if="pluginKey === 'ruleSkip' && plugin.length && showNodeSkip">
			        <tbody>
			        	<tr><th>自由跳转脚本描述</th><th>跳转目标节点</th><th>跳转条件脚本</th></tr>
			          <tr ng-repeat="ruleSkip in plugin" id="xxnodeSkipScript"> 
			          	<td>{{ruleSkip.name}}</td> <td>{{ruleSkip.targetNodeDesc}}-{{ruleSkip.targetNode}}</td> 
			          	<td><textarea  class="form-control" ab-trim ng-model="ruleSkip.script"></textarea></td> 
			          </tr>
			        </tbody>
			   </table>
		  	</div>
		  	<!-- 流程节点前后置脚本,不论是否配置均可以修改添加 -->
		  	 <table class="form-table" ng-if="showScript && 'StartNoneEvent,UserTask,EndNoneEvent'.indexOf(nodeConf.nodeType)!=-1">
			        <tbody>
			          <tr id="{{nodeConf.nodeId}}-nodeScript">  
			          		<td  ab-tip="{position:{my:'bottom center',at:'top center'}}" title="任务创建时脚本" ng-if="nodeConf.nodeType=='UserTask'"> 
			          			<textarea ng-model="nodeConf.plugins.nodeScript.taskCreate" ab-trim rows="2" class="form-control"></textarea>  
			          		</td> 
			          		<td ab-tip="{position:{my:'bottom center',at:'top center'}}" title="任务完成时脚本" ng-if="nodeConf.nodeType=='UserTask'"> 
			          			<textarea id="{{nodeConf.nodeId}}" ab-trim ng-model="nodeConf.plugins.nodeScript.taskComplete" rows="2" class="form-control"></textarea>
			          		</td>
			          		<td ab-tip="{position:{my:'bottom center',at:'top center'}}"  title="流程创建时脚本" ng-if="nodeConf.nodeType=='StartNoneEvent'"> 
			          			<textarea ab-trim ng-model="nodeConf.plugins.nodeScript.startEvent" rows="2" class="form-control"></textarea>  
			          		</td>
			          		<td ab-tip="{position:{my:'bottom center',at:'top center'}}"  title="流程完成时执行脚本"  ng-if="nodeConf.nodeType=='EndNoneEvent'"> 
			          			<textarea ab-trim rows="2" ng-model="nodeConf.plugins.nodeScript.endEvent" class="form-control"></textarea>  
			          		</td> 
			          	   <td ab-tip="{position:{my:'bottom center',at:'top center'}}"  title="流程人工结束时执行脚本"  ng-if="nodeConf.nodeType=='EndNoneEvent'"> 
			          	   		<textarea ab-trim rows="2" ng-model="nodeConf.plugins.nodeScript.manualEnd"  class="form-control"></textarea>
			          	   </td>
			          </tr>
			        </tbody>
			   </table>
		  	
	  		<div ng-if="(nodeConf.nodeType=='ExclusiveGateway' || nodeConf.nodeType =='InclusiveGateway') && isShowGateway">
			   	<table class="table table-bordered"  title="网关条件" ab-tip="{position:{my:'bottom center',at:'top center'}}">
			          <tr ng-repeat="(nodeId,script) in nodeConf.gatewayScript" id="xxgatewayScript">
			          	<th>目标节点：{{nodeId}} </th>
			          	<td> <textarea rows="2" ng-model="nodeConf.gatewayScript[nodeId]" class="form-control"></textarea></td>
			          </tr>
			   </table>
	  		</div>
	  	</fieldset>
	</body>
</html>
<style>
 .table {margin-bottom: 5px;}
 textarea{
 	max-width: 630px
 }
 th{
 	text-align: center !important;
 }
fieldset.scheduler-border {
    border: 2px groove #ddd !important;
    padding: 0 0.4em 1.4em 0.4em !important; 
    /* margin: 0 0 1.5em 0 !important; */
    -webkit-box-shadow:  0px 0px 0px 0px #000;
}
legend{
	font-size:18px!important;
	padding: initial;
	margin: 10px;
}
fieldset{
	margin:5px!important;
}
legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}
.btn-success{margin:5px 0 0 5px;}
</style>